extends ../layouts/common
block content
	h3 Info
	div Name :
		span &nbsp;
		span= user.name
	div Phone :
		span &nbsp;
		span= user.phone
	if user.avatar
		div Avatar :
			br
			img(src=`../${user.avatar}`, alt="", width='50%')